apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "coredns-etcd.fullname" . }}-config
  labels:
    app: coredns
data:
  {{- if .Values.useEtcd }}
  Corefile: |
    {{ .Values.zone.name }} {
        log
        errors
        etcd {
            path /polycloud/zones
            endpoint http://{{ include "coredns-etcd.fullname" . }}-etcd:{{ .Values.etcd.service.clientPort }}
        }
    }
    . {
        forward . /etc/resolv.conf
        log
        errors
        cache 30
    }
  {{- else }}
  Corefile: |
    {{ .Values.zone.name }} {
        log
        errors
        file /etc/coredns/zones/{{ .Values.zone.name }}zone
    }
    . {
        forward . /etc/resolv.conf
        log
        errors
        cache 30
    }
  {{ .Values.zone.name }}zone: |
{{ .Values.zone.records | indent 4 }}
  {{- end }}
