apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "coredns-etcd.fullname" . }}-config
  labels:
    app: coredns
    chart: {{ include "coredns-etcd.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  Corefile: |
    {{ .Values.coredns.zone }} {
        log
        errors
        {{- if .Values.useEtcd }}
        etcd {
            path {{ .Values.etcdPrefix }}
            endpoint {{ include "coredns-etcd.fullname" . }}-etcd-0.{{ include "coredns-etcd.fullname" . }}-etcd:2379
        }
        {{- else }}
        file /etc/coredns/zones/{{ .Values.coredns.zone }}db
        {{- end }}
        cache 30
    }

    . {
        forward . 8.8.8.8 8.8.4.4
        log
        errors
        cache 30
    }
  {{- if not .Values.useEtcd }}
  {{ .Values.coredns.zone }}db: |
{{ .Values.coredns.records | indent 4 }}
  {{- end }}
